body {
    background-image: url("../Image/jogador-profissional-jogando-torneios-de-jogos-online-computador-pc-com-fones-ouvido-tela-fundo-desfocada-e-azul-164145432.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
    
  }